<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Лабораторная работа 8</title>
    <link rel="stylesheet" href="main.css">
    <link rel="shortcut icon" href="path/to/favicon.ico" type="image/x-icon">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <header>
        <h1>Заголовок Лабораторной работы 8</h1>
        <nav>
            <ul>
                <li><a href="index.html">Главная</a></li>
                <li><a href="lab8/lab8.html">Лабораторная работа 8</a></li>
                <!-- Вы можете добавить другие ссылки здесь -->
            </ul>
        </nav>
    </header>
    <main>
        <div id="app">
            <h1 :title="messageRus">{{message}}</h1>
            <p>Счетчик: {{counter}}</p>
            <button @click="incCounter" v-if="counter < 10">++</button>
            <button @click="decCounter" v-if="counter > 0">--</button>
            <hr>

            <h2>Пользователь:</h2>
            <div>Имя: {{ user.name }}</div>
            <div>Возраст:{{ user.age }}</div>
            <div>Телефон: {{ user.tel }}</div>
        </div>
    </main>
    <footer>
        <p>&copy; 2025 Кучерова София</p>
    </footer>
    <script>
        Vue.createApp({
            data(){
                return {
                    message: 'Hello!',
                    messageRus: 'Привет!',
                    counter: 1,
                    user: {
                        name: 'Вася',
                        age: '18',
                        tel:'222-33-44'
                    },
                }
            },
            methods: {
                incCounter(){
                    this.counter++;
                },
                decCounter(){
                    this.counter--;
                }
            }
        }).mount('#app');
    </script>

</body>
</html>